@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
    background-color: green;
}
h1{
    font-size: 40px;
    text-align: center;
}
p{
    font-size: 20px;
}
h1{
    text-shadow: inherit;

    font-family: 'Dancing Script', cursive;
}
h1{ 
    font-style: italic
}
h1:hover {
 color: yellow;
}
a{
    color: black;
}